.glyphicon-rotate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
div.navbar-header a.navbar-brand {
    font-family: 'Comfortaa', 'Open Sans', sans-serif;
    font-size: 24px;
    color: #19abff;
}
.logo {
    font-family: 'Comfortaa', 'Open Sans', sans-serif;
    font-size: 64px;
    color: #19abff;
    text-align: center;
    line-height: 70px;
    margin-top: 20px;
}
.logo-sub {
    margin-bottom: 20px;
    text-align: center;
}